<li id="message-<%= message.id %>" class="user<%= message.user_colour %>">
  <%= avatar message.user, :small %>
  <div class="info">
    <div class="username">
      <% if message.user.deleted %>
        <%= message.user_username %>
      <% else %>
        <%= link_to message.user_username, user_path(message.user) %>
      <% end %>
     </div>
    <div class="time">
      <time datetime="<%= message.created_at %>">
        <%= message.created_at.to_s :long_ordinal %>
      </time>
    </div>
  </div>
  <div class="contents">
    <%= raw message.html %>
  </div>
  <% if can? :delete, message %>
    <div class="controls">
      <%= link_to "Delete", message_path(message), method: :delete, confirm: "Are you sure?" %>
    </div>
  <% end %>
</li>
