<div id="send-message">
  <div id="messagebox">
    <textarea id="message_text"></textarea>
  </div>
  <button type="submit" id="commit" class="btn btn-primary"><i class="icon-comment icon-white"></i></button>
</div>

<ul class="unstyled messages">
  <% @messages.reverse.each do |message| %>
  <li class="user<%= message.user.colour %>">
    <div class="username">
      <%= avatar message.user, :small %>
      <%= message.user.username %>
    </div>
    <div class="message"><%= raw message.html %></div>
    <div class="time">
      <time class="timeago" datetime="<%= message.created_at %>"><%= message.created_at.to_s :long_ordinal %></time>
    </div>
  </li>
  <% end %>
</ul>

<!-- TODO: archives link -->
<%= link_to "Older messages..", "archive", class: "archivelink" %>

<div id="sidebar">
  <h3 class="usercount">Users</h3>
  <ul class="users unstyled"></ul>
</div>