<ul class="unstyled messages">
  <% @messages.each do |message| %>
  <li class="user<%= message.user.colour %>">
    <div class="username">
      <img src="<%= message.user.avatar.thumb.url %>" />
      <%= message.user.username %>
    </div>
    <div class="message"><%= raw message.html %></div>
    <div class="time"><%= message.created_at.to_s :long_ordinal %></div>
  </li>
  <% end %>
</ul>

<div id="send-message">
  <div id="messagebox">
    <textarea></textarea>
  </div>
  <button class="btn btn-primary"><i class="icon-comment icon-white"></i></button>
</div>

<div id="sidebar">
  Users
</div>