<li class="user<%= message.user.colour %>">
  <div class="username">
    <img src="<%= message.user.avatar.thumb.url %>" />
    <%= message.user.username %>
  </div>
  <div class="message"><%= message.contents %></div>
  <div class="time">
    <time class="timeago" datetime="<%= message.created_at %>"><%= message.created_at %></time>
  </div>
</li>