<div class="content-header">
  <div class="header-inner">
    <h2>Edit Account &raquo; <%= @user.username %></h2>
  </div>
</div>
<div class="content-bottom">
  <%= simple_form_for @user, html: {multipart: true, autocomplete: "off"} do |f| %>
    <%= f.input :password, label: "New password", hint: "Leave blank to keep current password" %>
    <%= f.input :password_confirmation, label: "Confirm new password" %>

    <div class="clearfix avatar optional">
      <label>Current Avatar</label>
      <p><%= image_tag(@user.avatar.big.url) %></p>
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
    </div>

    <div class="actions">
      <%= f.button :submit, "Save", class: "btn primary" %>
    </div>    
  <% end %>
</div>
