<%= simple_form_for(@user, html: {multipart: true, class: "well", autocomplete: "off"}) do |f| %>
  <fieldset>
    <legend>Edit Account &raquo; <%= @user.username %></legend>

    <div class="form-inputs">
      <%= f.input :password, label: "New password", hint: "Leave blank to keep current password" %>
      <%= f.input :password_confirmation, label: "Confirm new password" %>

      <%= f.input :avatar, label: "Set avatar" %>
      <%= f.hidden_field :avatar_cache %>

      <div class="control-group avatar optional">
        <label class="avatar optional control-label">Current Avatar</label>
        <div class="controls">
          <%= avatar @user, :big %>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Save", class: "btn btn-primary" %>
      <%= link_to "Cancel", user_path(current_user), class: "btn btn-small" %>
    </div>
  </fieldset>
<% end %>