<div class="row well user-show">
  <div class="span2 user-sidebar">
    <p><%= avatar @user, :big %></p>
    <h2><%= @user.username %></h2>

    <div class="details">
      <p>
        <i class="fa fa-clock"></i>
        <span>
          Last visit
          <time class="timeago" datetime="<%= @user.last_activity_at %>">
            <%= @user.last_activity_at %>
          </time>
        </span>
      </p>
      <p>
        <i class="fa fa-envelope"></i>
        <span><%= mail_to @user.email %></span>
      </p>
    </div>

    <ul class="stats">
        <li>
          <a href="<%= url_for messages_path %>">
            <strong><%= @user.messages.count %></strong>
            <span>messages</span>
          </a>
        </li>
      </ul>
  </div>

  <div class="span9">
    <div class="user-controls">
      <% if can? :delete, @user %>
        <%= link_to raw('<i class="fa fa-trash-o"></i> ') + "Delete User", user_path(@user), method: :delete,
        confirm: "Are you sure?", class: "btn" %>
      <% end %>
      <% if can? :edit, @user %>
        <%= link_to raw('<i class="fa fa-edit"></i> ') + "User Settings", edit_user_path(@user), class: "btn" %>
      <% end %>
    </div>

    <h4>Recent messages</h4>
    <div class="user-messages">
      <% @user.messages.recent.each do |message| -%>
      <div id="message-<%= message.id %>" class="message">
        <span class="label label-info"><%= message.created_at.to_s :long_ordinal %></span>
        <%= raw message.html %>
      </div>
      <% end -%>
    </div>
  </div>
</div>
