<div class="well">
  <div class="user-controls clearfix">
    <h2><%= @user.username %> <%= online_bit @user %></h2>
    <p><%= avatar @user, :big %></p>
    <p>
      <% if can? :edit, @user %>
      <%= link_to "User Settings", edit_user_path(@user), class: "btn" %>
      <% end %>
      <% if can? :delete, @user %>
      <%= link_to "Delete User", user_path(@user), method: :delete,
        confirm: "Are you sure?", class: "btn" %>
      <% end %>
    </p>
  </div>

  <div class="user-messages">
    <h3>Recent messages (Show all <%= @user.messages.count %> messages)</h3>
    <table class="table table-striped">
      <tbody>
        <% @user.messages.recent.each do |message| -%>
        <tr>
          <td><span class="label label-info"><%= message.created_at.to_s :long_ordinal %></span></td>
          <td class="message"><%= raw message.html %></td>
        </tr>
        <% end -%>
      </tbody>
    </table>
  </div>
</div>
