<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style type="text/css">
    body {
      background: #B2C9ED;
    }

    </style>
  </head>
  <body>
    <h1>New message</h1>
    <div class="message-item" data-message-id="<%= @message.id %>">
      <div class="message-info">
        <span class="username"><a href="http://forum.kristjanrang.eu/users/<%= @message.user_id %>"><%= @message.user.username %></a></span>
        <span class="time"><%= @message.created_at.to_s :long_ordinal %></span>
      </div>
      <div class="message-contents"><%= raw @message.html %></div>
    </div>
  </body>
</html>