<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>KrisBB</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  
  <meta name="viewport" content="width=device-width" />
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application" %>
</head>
<body>

<%= render partial: 'shared/message_dialog' %>

<div class="topbar">
  <div class="fill">
    <div class="container">
      <ul class="nav">
        <li>
          <% if current_page? root_path %>
          <a class="btn primary small" data-controls-modal="message-modal" data-backdrop="true">New Message</a>
          <% else %>
          <a class="btn primary small" href="/">Messages</a>
          <% end %>
        </li>
        <!--
        <li>
          <form id="searchform" action="">
            <input class="input-small" type="text" placeholder="Search">
          </form>
        </li>
        -->
      </ul>      

      <i class="icon-bubble"></i>

      <ul class="nav secondary-nav">
        <li class="dropdown" data-dropdown="dropdown">
          <a href="#" class="dropdown-toggle"><span class="icon-wrapper"><i class="icon-user"></i></span></a>
          <ul class="dropdown-menu user-menu">
            <li class="useritem">
              <a href="<%= user_path(current_user) %>">
                <div class="avatar"><img src="<%= current_user.avatar.thumb.url %>" /></div>
                <strong><%= current_user.username %></strong>
                <small>View my profile</small>
              </a>
            </li>
            <li class="divider"></li>
            <li><%= link_to "Users", users_path %></li>
            <li class="divider"></li>            
            <li><%= link_to "Log out", logout_path, method: :delete %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="main container">
  <%= render_flash %>

  <%= yield %>
</div>

<script>
  window.settings = <%= raw Settings.to_json %>;
  window.user = <%= raw current_user.to_json %>;
</script>
<%= javascript_include_tag "application", "krisbb" %>
<%= render partial: 'shared/bottom_include' %>
</body>
</html>
