<!DOCTYPE html>
<html class="no-js">
<head>
  <title>KrisBB</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <%= render_stats_bar %>
  <%= render partial: "layouts/nav" %>

  <div class="container">
    <%= bootstrap_flash %>
    <%= yield %>
  </div>

  <%= javascript_include_tag "common" %>
</body>
</html>
