<!DOCTYPE html>
<html class="no-js">
<head>
  <title>KrisBB</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="bb">
  <%= render partial: "layouts/nav" %>

  <div class="container">
    <div class="row">
      <div class="span12">
        <%= bootstrap_flash %>
        <%= yield %>
      </div>
    </div>
  </div>

  <script>
    window.KrisBBsetup = {
      messages: <%= j @messages.to_json.html_safe %>,
      settings: <%= j Settings.public.to_json.html_safe %>,
      user: <%= j current_user.to_json.html_safe %>
    };
  </script>
  <script src="http://js.pusher.com/1.12/pusher.min.js"></script>
  <%= javascript_include_tag "application" %>
</body>
</html>
