<!DOCTYPE html>
<html class="no-js">
<head>
  <title>KrisBB</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="bb">
  <%= render_stats_bar %>
  <%= render partial: "layouts/nav" %>

  <div class="container">
    <div class="row">
      <div class="span12">
        <div id="bb-messages"></div>
        <div id="bb-sendbox"></div>
      </div>
    </div>
  </div>

  <div id="bb-userbar"></div>
  
  <script>
    window.KrisBB = {
      <% cache 'bootstrap' do %>
      bootstrap: <%= Oj.dump(@messages.as_json, mode: :compat).html_safe %>,
      <% end %>
      Settings: <%= Oj.dump(Settings.public, mode: :compat).html_safe %>,
      User: <%= Oj.dump(current_user, mode: :compat).html_safe %>,
      Smilies: <%= Oj.dump(Message.smilies.keys, mode: :compat).html_safe %>
    };
  </script>
  <script src="//js.pusher.com/1.12/pusher.min.js"></script>
  <%= javascript_include_tag "application" %>
  <script>
      var _gaq=[['_setAccount','<%= ENV['GAID'] %>'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
