<!DOCTYPE html>
<html class="no-js">
<head>
  <title>KrisBB</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= airbrake_javascript_notifier %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="bb">
  <%= render partial: "layouts/nav" %>

  <div class="container">
    <div class="row">
      <div class="span12">
        <%= bootstrap_flash %>
        <%= yield %>
      </div>
    </div>
  </div>

  <script>
    window.KrisBB = {
      <% cache 'bootstrap' do %>
      bootstrap: <%= j @messages.to_json.html_safe %>,
      <% end %>
      Settings: <%= j Settings.public.to_json.html_safe %>,
      User: <%= j current_user.to_json.html_safe %>
    };
  </script>
  <script src="//js.pusher.com/1.12/pusher.min.js"></script>
  <%= javascript_include_tag "application" %>
  <script>
      var _gaq=[['_setAccount','UA-8917689-9'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
