<!DOCTYPE html>
<html class="no-js">
<head>
  <title>KrisBB</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <style>
  /*body { background: #666 url(asset_path "crossed_stripes.png") }*/
  </style>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="form-page">
  <%= bootstrap_flash %>

  <%= yield %>
</div>

<%= requirejs_include_tag "static" %>
</body>
</html>
