<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>KrisBB</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <meta name="viewport" content="width=device-width" />
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application" %>
</head>
<body>

<div class="main container form form-stacked">
  <%= render_flash %>

  <div class="form-inner">
    <%= yield %>
  </div>
</div>

<%= javascript_include_tag "application" %>
<%= render partial: 'shared/bottom_include' %>
</body>
</html>
