<!DOCTYPE html>
<html>
<head>
  <title>KrisBB</title>
  <%= stylesheet_link_tag "static", :media => "all" %>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <style>
  /*body { background: #666 url(<%= asset_path "crossed_stripes.png" %>) }*/

  .form-page {
    width: 550px;
    margin: 50px auto 0;
  }
  </style>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="form-page">
  <%= render_flash %>

  <%= yield %>
</div>

<%= javascript_include_tag "static" %>
</body>
</html>
